/* Typography
--------------------------------------------- */
body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
    /* background-color: #F0F7EE; */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: 'Lato',Verdana, Geneva, Tahoma, sans-serif;
      margin: .5em 0;
  }
  
  
  h1 {
      font-size: 4rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  p {
      margin: 0 0 1.5em;
  }

  /* modified from blog.hubspot.com */
  .video-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .video-bg h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Lato',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    padding: 1.2rem;
    margin: 1rem;
    z-index: 1;
    opacity: 0.8;
    color:#fff;
    text-shadow:  0px 2px #090C02, 
    -3px 0px 2px #090C02, 
    0px 2px 2px #090C02;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @media (min-width:37.5rem) {
    .header-video {
      height: 100vh;
    }

    .video-bg h1 {
      font-size: 4rem;
    }
  }
  
  /* Elements
  --------------------------------------------- */
  section,
  aside {
      padding: 0 1rem;
  }
  
  /* Links
  --------------------------------------------- */
  a,
  a:visited { 
      color: #090C02;
      text-decoration: none;
  }
  
  nav a:hover,
  a:focus,
  a:active {
      text-decoration: underline;
    opacity: 0.8;
  }
  
  a:focus {
      outline: 1px dotted;
  }
  
  /*--------------------------------------------------------------
  # Components
  --------------------------------------------------------------*/
  .site-wrapper {
      /* This is for very large screens */
      max-width: 120rem;
      margin: 0 auto;
  }
  
  /* Header
  --------------------------------------------- */
  .site-header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background-color: #4f1820; */
    /* min-height: 6.5rem; */
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  /* .site-logo {
    padding: 0;
  } */
  
  /* .site-logo img {
    padding-left: 1rem;
    width: 6.5rem;
  } */
  
  .site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    position: absolute;
    top: 6.5rem; 
    background-color: #4f1820;
  }
  
  
  .site-navigation.toggled ul {
    display: block;
    background-color: #090C02;
  }
  
  .site-navigation a {
    display: block;
    /* padding: 0.5rem 0.5rem; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
  }
  
  .menu-toggle {
      display: block;
      background-color: transparent;
      border: 0;
      padding: 1rem;
  }
  
  .menu-toggle:focus {
      border: 0;
      outline: 1px dotted;
  }
  
  .site-navigation ul li {
    list-style-type: none;
    padding-right: 1rem;
  }

  @media (min-width: 33.5em) {
    /* enlarge the site logo */
    /* .site-logo img {
      padding-left: 1rem;
      width: 7.5rem;
    } */
  
    /* hide the hamburger  */
    .menu-toggle {
      display: none;
    }
  
    /* change the navigation links from columns to rows */
    .site-navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    
    .site-navigation ul,
    .site-navigation.toggled ul {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 0;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 5px 0 0 5px;
    }
  
    /* enlarge the font when the screen is 43.5em to 49.9em */
    .site-navigation a {
    font-size: 1.2rem;
    }

  }

   /* Main
  --------------------------------------------- */

  /* Introduction */
 